/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}