.hero {
  padding: 116px 0 207px;
  background-image: url('../images/hero-bg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__content {
  margin-left: 105px;
}

.hero__img {
  align-self: flex-start;
}

.hero__title {
  font-size: 140px;
  color: var(--brand-color);
  margin-bottom: 40px;
  line-height: 0.8;
  max-width: 530px;
}

.hero__text {
  margin-bottom: 16px;
}

.hero__desc {
  color: #4A4A4A;
  line-height: 1.5;
  max-width: 301px;
}