.form {
	max-width: 423px;
	background-color: var(--primary-color);
	padding: 42px 24px;
	border-radius: 32px;
	text-align: center;

	@media screen and (min-width: $bp-desktop) {
		padding: 48px 56px;
	}
}

.form__title {
	max-width: 308px;
	font-size: 22px;
	color: var(--white-color);
	margin: 0 auto 32px;
}

.form__input {
	display: block;
	width: 100%;
	border: 2px solid var(--gray-color);
	border-radius: 32px;
	background: transparent;
	outline: none;
	color: var(--white-color);
	font-size: 13px;
	margin-bottom: 16px;
	padding: 16px 24px;

	@media screen and (min-width: $bp-tablet) {
		padding: 18px 32px;
	}
}

.form__input::placeholder {
	color: var(--white-color);
}

.form__input:disabled {
	opacity: .5;
	cursor: not-allowed;
}

.form__confidensy {
	font-size: 12px;
	line-height: 1.5;
	color: var(--gray-color);
	max-width: 213px;
	margin: 0 auto 0;
}

.form__confidensy-link {
	color: var(--gray-color);
	text-decoration: underline;
}


// modal

.modal__form {
	margin: 0 auto;
	padding: 0;
	background-image: url('../images/footer-bg.png');
}

.modal__form__input {
	margin-bottom: 24px;
}