.menu__list {
	display: none;

	@media screen and (min-width: 820px) {
		display: flex;
		gap: 40px;
		flex-grow: 1;
		justify-content: center;
		text-align: center;
	}

	@media screen and (min-width: 900px) {
		gap: 50px;
	}

	@media screen and (min-width: $bp-desktop) {
		margin-left: 100px;
		gap: 56px;
	}

	&-link {
		line-height: 1.2;
		color: var(--primary-color);
		transition: color .2s;
	}

	&-link:hover {
		color: var(--brand-color);
	}
}