.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
}

.modal {
  position: relative;
  padding: 42px 144px;
  background-color: var(--primary-color);
  background-image: url('../images/footer-bg.png');
  text-align: center;
  border-radius: 48px;
}

.modal__title {
  color: var(--white-color);
  max-width: 435px;
  margin: 0 auto 40px;
}