.contacts {
	padding-bottom: 0;

	@media screen and (min-width: $bp-tablet) {
		padding-bottom: 94px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		justify-content: center;
		align-items: center;


		@media screen and (min-width: $bp-tablet) {
			flex-direction: row;
			justify-content: center;
			gap: 32px;
			padding: 0 20px;
		}
	}

	&__map {
		width: 100%;
		height: 230px;
		padding: 0;
		order: 1;

		@media screen and (min-width:$bp-tablet) {
			width: 50%;
			height: 484px;
			border-radius: 32px;
			order: 0;
		}

		@media screen and (min-width:$bp-desktop) {
			max-width: 605px;
			width: 100%;
			height: 495px;
			border-radius: 32px;
			order: 0;
		}

	}

	&__form {
		order: 0;
		margin: 0 20px;

		@media screen and (min-width: $bp-tablet) {
			margin: 0;
			order: 1;
		}
	}

	&__button {
		margin: 0 auto 8px;

		&:hover {
			background-color: var(--white-color);
		}

		&[disabled]:hover {
			background-color: lightgray;
		}
	}


}